$schema: "http://json-schema.org/draft-06/schema#"

description: snakemake configuration file

type: object

properties:
  inputs:
    type:
      - array
    minItems: 1
    items:
      type: object
      required:
        - name
        - metadata
      properties:
        name:
          type: string
          minLength: 1
        metadata:
          type: string
          minLength: 1
        sequences:
          type: string
          minLength: 1
        aligned:
          type: string
          minLength: 1
        skip_sanitize_metadata:
          type: boolean
      additionalProperties: false

  builds:
    type: object
    minProperties: 1
    propertyNames:
      # Allow build names to contain alphanumeric characters, underscores, and hyphens
      # but not special strings used for Nextstrain builds.  Also used in the
      # workflow's wildcard_constraints.
      pattern: "^(?:[-a-zA-Z0-9_](?!tip-frequencies|root-sequence))+$"

  S3_DST_COMPRESSION:
    type: string
    enum:
      - gz
      - xz

  S3_DST_ORIGINS:
    type: array
    minItems: 1
    items:
      type: string
      # A similar pattern is used in the workflow's wildcard constraints.
      pattern: "^[a-zA-Z0-9-]+$"

