$schema: "http://json-schema.org/draft-06/schema#"

description: snakemake configuration file

type: object

properties:
  sequences:
    type:
      - object
      - string
  metadata:
    type:
      - object
      - string